.line-item-date {
  margin-top: var(--op-space-x-large);
  margin-bottom: var(--op-space-2x-small);
  
  .line-item-date__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--op-space-x-small);
    border-radius: var(--op-radius-medium);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: var(--op-border-all) var(--op-color-border);
    padding: var(--op-space-small);
  }

  .line-item-date__title {
    font-size: var(--op-font-x-large);
  }

  .line-item-date__actions {
    display: flex;
    gap: var(--op-space-x-small);
  }

  .line-item-date__body {
    box-shadow: var(--op-border-all) var(--op-color-border);
    border-radius: var(--op-radius-medium);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: var(--op-space-small);
    padding-bottom: 0;
  }

  .line-item-date__footer {
    border: dashed 2px var(--op-color-neutral-minus-max);
    border-radius: var(--op-radius-medium);
    text-align: center;
    padding-block: var(--op-space-small);
  }
}