.quotes {
  display: grid;
  gap: var(--op-space-large);
}

.quote {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--op-space-medium);

  box-shadow: var(--op-border-all) var(--op-color-border);

  border-radius: var(--op-radius-medium);

  .quote__title {
    font-size: var(--op-font-large);
    color: var(--op-color-primary-on-plus-max);
  }

  .quote__actions {
    display: flex;
    gap: var(--op-space-small);
  }
}