.quote-total {
  position: fixed;
  bottom: 0;
  width: 65%;
  background-color: var(--op-color-background);
  box-shadow: var(--op-border-top) var(--op-color-border);

  font-size: var(--op-font-x-large);
  font-weight: bold;

  padding-block: var(--op-space-medium);

  .quote-total__inner {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}