@import 'https://cdn.jsdelivr.net/npm/@rolemodel/optics/dist/css/optics.min.css';


.homepage {
  display: grid;
  gap: var(--op-space-large);

  padding-block: var(--op-space-large);

  .homepage__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: var(--op-space-medium);

    box-shadow: var(--op-border-bottom) var(--op-color-border);
  }
}

.quotes {
  display: grid;
  gap: var(--op-space-large);
}

.quote {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--op-space-medium);

  box-shadow: var(--op-border-all) var(--op-color-border);

  a {
    color: var(--op-color-primary-on-plus-max);
  }

  .quote__actions {
    display: flex;
    gap: var(--op-space-small);
  }
}

.navigation {
  display: flex;
  align-items: center;
  padding: var(--op-space-x-small) var(--op-space-medium);
  margin-bottom: var(--op-space-2x-large);

  box-shadow: var(--op-border-bottom) var(--op-color-border);

  .navigation__brand {
    font-weight: var(--op-font-weight-bold);
    font-size: var(--op-font-x-large);
  }

  .navigation__name {
    font-weight: var(--op-font-weight-bold);
    margin-left: auto;
    margin-right: var(--op-space-small);
  }

  .navigation__right {
    margin-left: auto;
  }
}

.flash {
  position:fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--op-space-small);

  max-width: 100%;
  width: max-content;
  padding: 0 var(--op-space-medium);

  .flash__message {
    font-size: var(--op-font-small);
    padding: var(--op-space-x-small) var(--op-space-medium);
    animation: appear-then-fade 4s both;
    border-radius: 999px;
  }
}

@keyframes appear-then-fade {
  0%, 100% {
    opacity:0
  }
  5%, 60% {
    opacity:1
  }
}

.empty-state {
  padding: var(--op-space-medium);
  border: var(--op-border-width);
  border-style: dashed;
  text-align: center;

  .empty-state__text {
    font-size: var(--op-font-large);
    margin-bottom: var(--op-space-large);
    font-weight: bold;
  }

  &.empty-state--only-child {
    display: none;

    &:only-child {
      display: revert;
    }
  }
}

.line-item-date {
  margin-top: var(--op-space-x-large);
  margin-bottom: var(--op-space-2x-small);
  
  .line-item-date__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--op-space-x-small);
  }

  .line-item-date__title {
    font-size: var(--op-font-x-large);
  }

  .line-item-date__actions {
    display: flex;
    gap: var(--op-space-x-small);
  }

  .line-item-date__body {
    box-shadow: var(--op-border-all) var(--op-color-border);
    border-radius: var(--op-radius-medium);
    margin-top: var(--op-space-x-small);
    padding: var(--op-space-small);
    padding-top: 0;
  }

  .line-item-date__footer {
    border: dashed 2px var(--op-color-white);
    border-radius: var(--op-radius-medium);
    text-align: center;
    padding: var(--op-space-2x-small);
  }
}

.line-item {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  align-items: center;

  gap: var(--op-space-x-small);
  margin-bottom: var(--op-space-small);
  padding: var(--op-space-x-small);
  box-shadow: var(--op-border-bottom) var(--op-color-border);

  > * {
    margin-bottom: 0;
  }

  .line-item__name {
    flex: 1 1 100%;
    font-weight: bold;
  }

  .line-item__description {
    flex-basis: 100%;
    max-width: 100%;
    color: var(--op-color-primary-minus-eight);
    font-weight: normal;
    font-size: var(--op-font-small);
  }

  .line-item__quantity {
    flex: 1;
  }

  .line-item__price {
    flex: 1;
  }

  .line-item__actions {
    display: flex;
    gap: var(--op-space-x-small);
    order: 2;
    flex: 1 1 auto;
  }

  .line-item--form {
    .line-item__quantity,
    .line-item__price {
      display: block;
    }

    .line-item__description {
      order: 2;
    }
  }

  &.line-item--header {
    margin-bottom: var(--op-space-small);

    > * {
      font-size: var(--op-font-small);
      font-weight: bold ;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}

.quote-total {
  position: fixed;
  bottom: 0;
  width: 65%;
  background-color: var(--op-color-background);

  font-size: var(--op-font-x-large);
  font-weight: bold;

  padding-top: var(--op-space-x-small);
  padding-bottom: var(--op-space-x-small);

  .quote-total__inner {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}